body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(238, 238, 238);
    padding: 2% 5%;
}

#profile-photo{
    width: 70px;
    height: 70px;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: rgb(0, 194, 0) 2px solid;
    border-radius: 100%;
    padding: 20px;
    cursor: pointer;
}

.center-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

aside{
    width: 45%;
    padding: 1%;
    border-right: rgb(192, 192, 192) 1px solid;
    padding-right: 10%;
    display: flex;
    justify-content: flex-end;
}


section{
    width: 45%;
    padding: 1%;
}

label{
    display: block;
    margin-top: 20px;
}

input{
    display: block;
}

input[type='submit']{
    margin-top: 50px;
}

footer{
    width: 100%;
    background-color: rgb(238, 238, 238);
    color: grey;
}

.failMessage{
    color: red;
    opacity: 0.1;
    text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 1px;
    margin: auto;
}



/* -- MODAL IMAGE -- */

#imageModal{
    display: none; 
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.7); 
    flex-direction: column;
    position: absolute; 
    justify-content: center; 
    align-items: center
}

#modal-profile-image{
    background-image: url(images/profiles/image-profile-default.jpg);
    background-color: #1D2226;
    width: 500px; 
    height: 500px; 
    background-position: center center; 
    background-size: cover;
    border-radius: 0 0 10px 10px;
}

#toolsModal{
    background-color: #1D2226;
    color: white;
    padding-left: 5%;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
}

#crudButtons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#crudButtons>form{
    margin: 0;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

#crudButtons>form:hover{
    background-color: rgb(71, 71, 71);
}

#deleteImage{
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#deleteImage:hover{
    background-color: rgb(71, 71, 71);
}

#toolsModal>#closeImage{
    padding: 2% 4%;
    border-radius: 0;
}

#closeImage{
    cursor: pointer;
}

#savePhotoProfile{
    background-color: rgb(104, 134, 218);
    border-radius: 5px;
    border: rgb(55, 83, 161) 1px solid;
    transition: ease-in-out 0.2s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

#savePhotoProfile:hover{
    background-color: rgb(104, 218, 110);
    border: rgb(25, 50, 119) 1px solid;
}